name: "Build & Cache"
on:
  pull_request:
  push:
jobs:
  build-and-cache:
    runs-on: ubuntu-latest
    env:
      NIXPKGS_ALLOW_BROKEN: 1
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v16
      - run: nix --impure flake check
      - run: nix --impure build .#memflow .#cloudflow .#reflow .#cloudflow
